@font-face {
    font-family: 'StyleScript';
    src: url('../fonts/StyleScript-Regular.ttf');
}

.logo-text {
    font-family: 'StyleScript' !important;
    font-size: 1.4rem;
}

.flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.padding {
    padding-bottom: 2rem;
}

.hide {
    display: none !important;
}

body {
    // main {
    overflow-x: hidden !important;
    // }
}

.flash-alert {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    border: none !important;

    .alert-success {
        background: #38c172;
        border-color: #38c172;
        color: #fff;
    }
}
